
<div class="button">
    <button type="button" (click)="sortByDate()">SortDate</button>
    <button type="button" (click)="sortByCompleted()">sortByCompleted</button>
    <button type="button" (click)="sortByUrgent()">sortByUrgent</button>
    <button type="button" (click)="sortByImportant()">sortByImportant</button>
</div>

<ul>
    <div class="list">
        <li *ngFor="let todo of todolist, let i=index">

            <app-todo [todo]="todo" [index]="i"></app-todo>


        </li>
    </div>
</ul>