<p>add-todolist works!</p>

<div>
    <input type="text" id="title" name="title" placeholder="Titel..." #title>
    <br>
    <input type="text" id="description" name="description" placeholder="Beschreibung..." #description>
    
    <input type="text" id="title" name="title" placeholder="Titel..." #title>
    
    <input type="checkbox" id="completed" name="completed" value=true>
    <label for="completed">completed</label>
    
    <button type="button" value="Submit">Bestätigen</button>
</div>
