button{
    background-color: #e8e8e8;
    color: #3d3d3d;
    padding: 0.8rem;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    border-style: none;
}

button:hover{
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button:active{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    display: float;
}

label:active{
    border-style: none;
    text-decoration: none;
    display: inline-block;
    border-color: brown;
}