body {
    background-color: #f5d598;
    border-radius: 15px;
}

body div{
    margin: 15px;
}

h2 {
    margin: 15px;
}

div input.text{
    box-sizing:  border-box;
    width: 100%;
    padding: 0.5rem;
    margin-top: 5px;
}

div label{
    box-sizing:  border-box;
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
    user-select: none;
}

button{
    background-color: #e8e8e8;
    color: #3d3d3d;
    padding: 0.8rem;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    border-style: none;
}

button:hover{
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button:active{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
