<button type="button" (click)="goBack()">Zurück</button>

<p>add-todolist works!{{todo.targetDate}}{{todo.targetDate}}</p>

<div>
    <input id="title" name="title" placeholder="Titel..." [(ngModel)]="todo.title">    
    <br>
    <input id="description" name="description" placeholder="Beschreibung..." [(ngModel)]="todo.description">
    <br>
    
    <label for="urgent">Dringend?</label>
    <input type="checkbox" name="urgent" id="urgent" [(ngModel)]="todo.urgent">

    <label for="important">Wichtig?</label>
    <input type="checkbox" name="important" id="important" [(ngModel)]="todo.important">

    <input type="date" name="targetDate" id="targetDate" [(ngModel)]="todo.targetDate">
    
    <button type="button" (click)="addList()">Bestätigen</button>
</div>
