<body>
    <h2>ToDo Hinzufügen: </h2>
    <div>

        <input class="text" id="title" name="title" placeholder="Titel..." [(ngModel)]="todo.title">
        <input class="text" id="description" name="description" placeholder="Beschreibung..."
            [(ngModel)]="todo.description">

        <label for="urgent">Dringend?</label>
        <input type="checkbox" name="urgent" id="urgent" [(ngModel)]="todo.urgent">

        <label for="important">Wichtig?</label>
        <input type="checkbox" name="important" id="important" [(ngModel)]="todo.important">

        <label for="targetDate"> Deadline: </label>
        <input type="date" name="targetDate" id="targetDate" [(ngModel)]="todo.targetDate">

        <br>
        <button type="button" (click)="closeAddToDo()">Zurück</button>
        <button type="button" (click)="closeAddToDo()" (click)="addToDoList()">Bestätigen</button>
    </div>

</body>