div.button{
    text-align: center;
}

button{
    background-color: #f5d598       ;
    color: #3d3d3d;
    padding: 0.8rem;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    text-decoration: none;
    border-style: none;
    font-size: large;
    text-align: center;
}

button:hover{
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button:active{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}