body {
    background-color: #e8e8e8;
    margin-top: 20px;
    margin-right: 40px;
    padding: 10px;
    border-radius: 20px;
}

button.loeschen{
    background-color: #ed8d8d;
    color: #3d3d3d;
    padding: 0.8rem;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    border-style: none;
    font-size: large;
}

button.loeschen:hover{
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button.loeschen:active{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button.boolean{
    background-color: #e8e8e8;
    color: #3d3d3d;
    padding: 0.8rem;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    border-style: none;
    font-size: large;
}

button.boolean:hover{
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button.boolean:active{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-weight: bold;
    font-size: xx-large;
}

.scroller{
    width: auto;
    height: 80px;
    overflow-y: auto;
    scrollbar-color: dimgrey #e8e8e8;
    scrollbar-width: thin;
    border-style: solid;
    border-color: dimgray;
    border-radius: 10px;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.checked::after{
    content: '\2705';
}

.crossed::after{
    content: '\274C';
}